@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  border: none;
  padding: 12px 42px ;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #FEFEFE;
  background-image: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
  border-radius: 27px;
  max-width: fit-content;
}

.btn_transparent {
  background: transparent;
}

.btn_big {
  padding: 24px 46px;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
}

.btn_bg {
  border-radius: 15px;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.25);
}

.btn:hover {
  cursor: pointer;
}

.title {
  margin: 7px 0 30px;
  max-width: 605px;
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
  color: #FFFFFF;
}

.section {
  padding: 100px 0;
}

.section__descr {
  margin: 0 0 68px;
  max-width: 520px;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #FFFFFF;
  opacity: 0.5;
}

.section__descr_gray {
  color: #0F1F1C;
}

.header {
  position: relative;
  background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%) no-repeat;
  clip-path: polygon(100% 0, 100% 80%, 54% 99.3%, 50% 99.8%, 46% 99.3%, 0 80%, 0 0);
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  padding-top: 44px;
  padding-bottom: 150px;
}

@media (max-width: 1200px) {
  .header {
    padding-bottom: 120px;
    clip-path: polygon(100% 0, 100% 85%, 54% 99.3%, 50% 99.8%, 46% 99.3%, 0 85%, 0 0);
  } 
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
}

.nav__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 4px;
  width: 80%;
  background-color: #C4C4C4;
  border-radius: 100px;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.nav__link_active::after {
  transform: scaleX(1);
}

.nav__link:hover::after {
  transform: scaleX(1);
}


.hero__img {
  position: absolute;
  bottom: -200px;
  right: -120px;
}

.destinations__container {
  display: flex;
  align-items: center;
}

.destinations__btn {
  font-size: 20px;
  line-height: 30px;
}

.destinations__choice {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #0F1F1C;
}

.slider__list {
  gap: 40px;
  display: flex;
  align-items: center;
}

.slider__item {
  height: 402px;
  width: 335px;
  overflow: hidden;
  border-radius: 35px;
}

.slider__item_scale {
  transform: scale(1.1);
}